/********** This CSS is written in SASS in BEM methodology **********/
/* RESET **************************************************************************** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

/* VARIABLES ************************************************************************ */
/* Font - size */
/* Font - family */
/* Theme - colors */
/* MIXIN **************************************************************************** */
/* NAVIGATION *********************************************************************** */
.menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 420px) {
    .menu {
      height: 90px; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .menu {
      height: 150px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto; }
  @media only screen and (max-width: 420px) {
    .wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 2 60%;
  flex: 1 2 60%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: white;
  font: 0.875em "Open Sans", sans-serif; }
  .menu__contact li {
    padding: 5px; }
  @media only screen and (max-width: 420px) {
    .menu__contact {
      display: none; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .menu__contact {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font: 0.75em "Open Sans", sans-serif; } }

.menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 10%;
  flex: 0 1 10%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .menu__icons li {
    padding: 10px; }
  @media only screen and (max-width: 420px) {
    .menu__icons {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .menu__icons {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.menu__search-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 10%;
  flex: 0 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: solid 0.5px white;
  padding: 8px; }
  @media only screen and (max-width: 420px) {
    .menu__search-box {
      display: none; } }

input[type="search"] {
  outline: none;
  width: 100px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: black;
  color: white;
  font: 0.875em "Open Sans", sans-serif;
  text-align: center; }
  input[type="search"]:focus {
    border: solid 1px white; }

.menu__icon {
  width: 1.000em;
  height: 1.000em;
  padding: 0 0.250em; }

.menu__icon--hover:hover path {
  fill: #006fe5; }

hr {
  padding: 0;
  margin: 0;
  height: 0.5px;
  color: white;
  background-color: white;
  border: none; }

.menu__logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media only screen and (max-width: 420px) {
    .menu__logo {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .menu__logo {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.menu__logo--img {
  width: 30px;
  height: 30px;
  padding: 10px; }

.menu__logo--txt {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font: 1.5em "Oswald", sans-serif;
  line-height: 60%; }

.menu__logo--color {
  color: #006fe5;
  font-weight: 600; }

.menu__logo--subtitle {
  font-size: 0.500em;
  padding-left: 15px; }

.menu__navigation {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media only screen and (max-width: 420px) {
    .menu__navigation {
      display: none; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .menu__navigation {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .menu__navigation li {
    color: white;
    font: 1.125em "Open Sans", sans-serif;
    text-align: center;
    padding: 10px; }
    .menu__navigation li:hover {
      color: #006fe5; }
    @media only screen and (min-width: 421px) and (max-width: 780px) {
      .menu__navigation li {
        padding: 5px; } }

/* Hero ***************************************************************************** */
.header {
  background-image: url(../img/banner-large.jpg);
  background-size: cover;
  position: relative;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (max-width: 420px) {
    .header {
      background-image: url(../img/banner-small.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .header {
      background-image: url(../img/banner-medium.jpg);
      background-size: cover; } }

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto; }

.hero__footer {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(71, 159, 255, 0.8); }
  @media only screen and (max-width: 420px) {
    .hero__footer {
      position: static; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .hero__footer {
      position: static; } }

.hero__footer__txt {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  font: 1.125em "Open Sans", sans-serif;
  color: white;
  padding: 20px; }
  @media only screen and (max-width: 420px) {
    .hero__footer__txt {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .hero__footer__txt {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; } }

.hero {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
  z-index: 10; }
  @media only screen and (max-width: 420px) {
    .hero {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-top: 0;
      margin-bottom: 0; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .hero {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin-top: 0;
      margin-bottom: 0; } }

.hero__title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 20px;
  font: 2em "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  text-transform: uppercase; }
  @media only screen and (max-width: 420px) {
    .hero__title {
      margin-top: 140px; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .hero__title {
      margin-top: 200px; } }

.hero__txt {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 0 20px;
  font: 1.5em "Open Sans", sans-serif;
  color: white;
  text-align: center; }
  @media only screen and (max-width: 420px) {
    .hero__txt {
      margin-bottom: 70px; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .hero__txt {
      margin-bottom: 50px; } }

.hero__search-box {
  background-color: white;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .hero__search-box {
      margin: 20px 0; } }

.hero__title--color {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 2em "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  color: black;
  text-transform: uppercase;
  margin-top: 30px; }

.hero__subtitle {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 0.875em "Oswald", sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 10px; }

.search-box__button {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background-color: #006fe5;
  color: white;
  height: 40px;
  text-align: center;
  border: solid 2px #006fe5;
  font: 0.875em "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0 20px;
  margin-bottom: 40px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 600; }
  .search-box__button:hover {
    background-color: white;
    color: #006fe5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer; }

input[type="text"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  outline: none;
  border: solid 2px lightgray;
  color: black;
  font: 0.875em "Open Sans", sans-serif;
  padding: 10px;
  margin: 10px 20px;
  background-color: lightgray; }
  input[type="text"]::-webkit-input-placeholder {
    color: black;
    font: 0.875em "Open Sans", sans-serif; }
  input[type="text"]:-ms-input-placeholder {
    color: black;
    font: 0.875em "Open Sans", sans-serif; }
  input[type="text"]::-ms-input-placeholder {
    color: black;
    font: 0.875em "Open Sans", sans-serif; }
  input[type="text"]::placeholder {
    color: black;
    font: 0.875em "Open Sans", sans-serif; }
  input[type="text"]:focus {
    border: solid 2px #006fe5; }

.search-icon {
  background-image: url(../img/search.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px; }

.plain-icon {
  background-image: url(../img/airplane-shape.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px; }

.bed-icon {
  background-image: url(../img/bed.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px; }

.calendar-icon {
  background-image: url(../img/calendar.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px; }

/* SECTION-1 ************************************************************************ */
.tour {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/section-bg-large.jpg);
  background-size: cover; }
  @media only screen and (max-width: 420px) {
    .tour {
      height: auto;
      background-image: url(../img/section-bg-medium.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .tour {
      height: auto;
      background-image: url(../img/section-bg-medium.jpg);
      background-size: cover; } }

.tour__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.tour__wrapper > h3 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 2em "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 20px; }

.tour__wrapper > p {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 1.125em "Open Sans", sans-serif;
  text-align: center;
  padding: 20px; }

.tour__gallery {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  min-width: 240px;
  min-height: 200px;
  position: relative;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 420px) {
    .tour__gallery {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .tour__gallery {
      min-width: 200px; } }

.gallery__mask {
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%; }
  .gallery__mask:hover {
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .gallery__mask:hover .gallery__label {
      display: none; }

.gallery__img {
  border-radius: 50%;
  width: 200px;
  position: absolute;
  top: 0;
  z-index: 5; }

.gallery__label {
  font: 1.125em "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 20px; }

/* SECTION-2 ************************************************************************ */
.deals {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-image: url(../img/deal-bg-large.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 420px) {
    .deals {
      height: auto;
      background-image: url(../img/deal-bg-medium.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .deals {
      height: auto;
      background-image: url(../img/deal-bg-medium.jpg);
      background-size: cover; } }

.deals__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .deals__wrapper h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    font: 2em "Oswald", sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 30px;
    text-transform: uppercase; }

.deals__box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 28%;
  flex: 0 1 28%;
  min-width: 280px;
  margin: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.deals__img {
  width: 100%; }

.box__price {
  width: 120px;
  height: 50px;
  background-color: #479fff;
  position: relative;
  top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.price {
  font: 1.5em "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  margin: 5px; }

.price--modified {
  font: 1.125em "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: line-through;
  margin: 5px; }

.box__title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 2em "Oswald", sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
  text-transform: uppercase; }

.box__txt {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 0.875em "Open Sans", sans-serif;
  color: black;
  padding: 10px 20px; }

.box__button {
  font: 1.125em "Oswald", sans-serif;
  font-weight: 600;
  background-color: #006fe5;
  border: solid 2px #006fe5;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  margin: 20px; }
  .box__button:hover {
    cursor: pointer;
    background-color: white;
    color: #006fe5;
    border: solid 2px #006fe5;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

/* SECTION-3 ************************************************************************ */
.gallery {
  background-color: lightgray;
  width: 100%;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-transform: uppercase;
    font: 2em "Oswald", sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 50px 20px; }

.gallery__box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 32%;
  flex: 1 1 32%;
  margin: 1px;
  position: relative;
  min-width: 300px; }
  .gallery__box img {
    width: 100%; }

.gallery__mask2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .gallery__mask2:hover {
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .gallery__mask2:hover .box__label {
      visibility: hidden; }
    .gallery__mask2:hover .box__city {
      visibility: hidden; }

.box__label {
  text-align: center;
  font: 1.5em "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 10px; }

.box__city {
  text-align: center;
  font: 0.875em "Open Sans", sans-serif;
  color: white;
  padding: 10px; }

.box__know-button {
  font: 0.875em "Oswald", sans-serif;
  font-weight: 600;
  background-color: #006fe5;
  border: solid 2px #006fe5;
  color: white;
  text-transform: uppercase;
  margin: 20px;
  border-radius: 4px;
  width: 120px;
  height: 40px; }
  .box__know-button:hover {
    cursor: pointer;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

/* SECTION-4 ************************************************************************ */
.blog {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px; }

.blog__wrapper {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .blog__wrapper h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-transform: uppercase;
    font: 2em "Oswald", sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 20px; }
  .blog__wrapper > p {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    font: 1.125em "Open Sans", sans-serif;
    color: black;
    padding: 30px 20px;
    text-align: center; }

.blog__box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  background-color: white;
  padding: 10px;
  margin: 10px 5px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog__box-img {
  width: 100%; }

.blog__box-title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 1.5em "Oswald", sans-serif;
  font-weight: 600;
  color: #479fff;
  padding: 10px 20px; }

.blog__box-author {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  font: 0.875em "Open Sans", sans-serif;
  color: darkgrey;
  padding: 10px 0; }

.blog__box-date {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  font: 0.875em "Open Sans", sans-serif;
  color: darkgrey;
  padding: 10px 0; }

.blog__box-icon {
  width: 20px;
  padding: 0 10px 0 20px; }

.blog__box-txt {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font: 0.875em "Open Sans", sans-serif;
  color: black;
  padding: 10px 20px 30px 20px; }

/* SECTION-5 ************************************************************************ */
.luxury {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../img/luxury-bg-large.jpg);
  background-size: cover;
  width: 100%;
  height: 700px; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .luxury {
      background-image: url(../img/luxury-bg-medium.jpg);
      background-size: cover;
      height: 520px; } }
  @media only screen and (max-width: 420px) {
    .luxury {
      background-image: url(../img/luxury-bg-medium.jpg);
      background-size: cover;
      height: 520px; } }
  .luxury h3 {
    text-transform: uppercase;
    font: 6em "Oswald", sans-serif;
    font-weight: 600;
    color: white;
    text-align: center; }
    @media only screen and (min-width: 421px) and (max-width: 780px) {
      .luxury h3 {
        font-size: 4.000em; } }
    @media only screen and (max-width: 420px) {
      .luxury h3 {
        font-size: 3.000em; } }
  .luxury p {
    font: 2em "Oswald", sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (min-width: 421px) and (max-width: 780px) {
      .luxury p {
        font-size: 1.5em; } }
    @media only screen and (max-width: 420px) {
      .luxury p {
        font-size: 1.125em; } }
  .luxury button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: #479fff;
    margin: 20px;
    color: white;
    text-transform: uppercase;
    font: 1.125em "Oswald", sans-serif;
    font-weight: 600; }
    @media only screen and (max-width: 420px) {
      .luxury button {
        width: 100px;
        height: 100px;
        font-size: 0.875em; } }
    .luxury button:hover {
      cursor: pointer;
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

/* FOOTER ************************************************************************ */
.footer {
  margin-top: 20px;
  background-color: white; }

.footer__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer__box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (max-width: 420px) {
    .footer__box {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      padding: 10px 20px; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .footer__box {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
      flex: 1 1 30%;
      padding: 10px 20px; } }
  .footer__box h4 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    font: 1.5em "Oswald", sans-serif;
    font-weight: 600;
    color: black;
    padding: 20px 0;
    text-transform: uppercase; }
  .footer__box li {
    font: 0.875em "Open Sans", sans-serif;
    color: black;
    padding: 5px 0; }
  .footer__box a:hover {
    color: #479fff; }
  .footer__box button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    background-color: #006fe5;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font: 0.875em "Oswald", sans-serif;
    font-weight: 600;
    border: solid 2px #006fe5; }
    .footer__box button:hover {
      cursor: pointer;
      background-color: white;
      color: #006fe5;
      border: solid 2px #006fe5;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
  .footer__box input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    height: 16px;
    width: 10%;
    outline: none;
    padding: 10px;
    border: solid 2px lightgray;
    font: 0.875em "Open Sans", sans-serif;
    color: black;
    background-color: lightgray; }
    .footer__box input:focus {
      border: solid 2px #006fe5; }

.footer__box-logo {
  width: 40px;
  padding: 5px; }
  .footer__box-logo:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.credits {
  border-top: solid 1px lightgray;
  margin: 30px 0 20px 0;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.credits__left {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: left;
  font: 0.875em "Open Sans", sans-serif;
  color: black; }
  @media only screen and (max-width: 420px) {
    .credits__left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .credits__left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center; } }

.credits__right {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: right;
  font: 0.875em "Open Sans", sans-serif;
  color: black; }
  @media only screen and (max-width: 420px) {
    .credits__right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .credits__right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center; } }
