.footer {
  margin-top: 20px;
  background-color: $white;
}

.footer__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

}

.footer__box {
  flex: 1 1 20%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    flex: 1 1 100%;
    padding: 10px 20px;
  }

  @include tablet {
    flex: 1 1 30%;
    padding: 10px 20px;
  }

  h4 {
    flex: 1 1 100%;
    font: $large $bold;
    font-weight: 600;
    color: $black;
    padding: 20px 0;
    text-transform: uppercase;
  }

  li {
    font: $small $basic;
    color: $black;
    padding: 5px 0;
  }

  a {
    &:hover, &:focus {
      color: $lightBlue;
    }
  }

  button {
    flex: 1 1 30%;
    background-color: $darkBlue;
    height: 40px;
    color: $white;
    text-transform: uppercase;
    font: $small $bold;
    font-weight: 600;
    border: solid 2px $darkBlue;

    &:hover, &:focus {
      cursor: pointer;
      background-color: $white;
      color: $darkBlue;
      border: solid 2px $darkBlue;
      transition: 0.3s all;
    }
  }

  input {
    flex: 1 1 50%;
    height: 16px;
    width: 10%;
    outline: none;
    padding: 10px;
    border: solid 2px lightgray;
    font: $small $basic;
    color: $black;
    background-color: lightgray;

    &:focus {
    border: solid 2px $darkBlue;
  }
  }
}

.footer__box-logo {
  width: 40px;
  padding: 5px;

  &:hover {
      transform: rotate(360deg);
      transition: all 0.3s;
  }
}

.footer__box-logo--focus {
  &:focus {
    transform: rotate(360deg);
    transition: all 0.3s;
  }
}

.credits {
  border-top: solid 1px lightgray;
  margin: 30px 0 20px 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.credits__left {
  flex: 1 1 50%;
  text-align: left;
  font: $small $basic;
  color: $black;

  @include mobile {
    flex: 1 1 100%;
    text-align: center;
  }

  @include tablet {
    flex: 1 1 100%;
    text-align: center;
  }

  a:focus, a:hover {
    color: $lightBlue;
  }
}

.credits__right {
  flex: 1 1 50%;
  text-align: right;
  font: $small $basic;
  color: $black;

   @include mobile {
    flex: 1 1 100%;
    text-align: center;
  }

  @include tablet {
    flex: 1 1 100%;
    text-align: center;
  }
}
