/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Open Sans', sans-serif;
$bold: 'Oswald', sans-serif;

/* Theme - colors */

$lightBlue: rgb(71, 159, 255);
$darkBlue: rgb(0, 111, 229);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
